.post {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: yellowgreen;
    padding: 15px;
    width: 100px;   
    color: white;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;   
    white-space: nowrap;    
    font-size: 20px;    
    cursor: pointer;
    margin: 20px;
}

.post-id {
    margin-left: 30px;
    color: rgb(31, 100, 100);
}

.post:hover {
    color: rgb(186, 172, 172);
}


.posts-component {
    display: grid;
    grid-template-columns: repeat(10, 150px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.go-forward {
    position: fixed;
    top: 30px;
    right: 20px;
}